---
import { siteConfig } from "../config/content";
---

<!-- Footer Component -->
<section class="relative text-gray-700">
  <div
    class="container flex flex-col items-center justify-center min-h-[40px] mx-auto px-7 max-w-7xl sm:flex-row sm:min-h-[50px] bg-transparent py-4"
  >
    <a
      class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-neutral-700 dark:text-neutral-300 font-semibold"
      href="/"
    >
      <span
        class="text-xl -translate-y-0.5 text-amber-500 group-hover:-rotate-12 group-hover:scale-[1.2] ease-in-out duration-300"
        >✦</span
      >
      <span class="-translate-y-0.5">Manali Kaswa</span>
    </a>
    <p
      class="mt-2 text-sm text-neutral-700 dark:text-neutral-300 sm:ml-4 sm:pl-4 sm:border-l sm:border-neutral-700 dark:sm:border-neutral-300 sm:mt-0"
    >
      © 2025 Manali Kaswa. All rights reserved.
    </p>
    <span
      class="inline-flex justify-center mt-2 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start"
    >
      <a
        href={siteConfig.social.twitter}
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-400 dark:hover:text-neutral-300"
      >
        <span class="sr-only">𝕏</span>
        <svg
          class="w-5 h-5"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M95 50c0 24.853-20.147 45-45 45S5 74.853 5 50 25.147 5 50 5s45 20.147 45 45Zm-51.21 2.688-21.51-28.76h16.578l14.1 18.855 17.453-18.855h4.872L55.135 45.694l22.72 30.377H61.279L45.967 55.598l-18.95 20.473h-4.873L43.79 52.688Zm-6.73-25.172h-7.616l33.63 44.967h7.616L37.06 27.516Z"
            fill="currentColor"></path>
        </svg>
      </a>
      <a
        href={siteConfig.social.github}
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-400 dark:hover:text-neutral-300"
      >
        <span class="sr-only">GitHub</span>
        <svg
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.12 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
      <a
        href={siteConfig.social.linkedin}
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-400 dark:hover:text-neutral-300"
      >
        <span class="sr-only">LinkedIn</span>
        <svg
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 01-2.063-2.065 2.064 2.064 0 112.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
          ></path>
        </svg>
      </a>
      <a
        href={siteConfig.social.medium}
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-400 dark:hover:text-neutral-300"
      >
        <span class="sr-only">Medium</span>
        <svg
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M13.54 12a6.8 6.8 0 01-6.77 6.82A6.8 6.8 0 010 12a6.8 6.8 0 016.77-6.82A6.8 6.8 0 0113.54 12zm7.42 0c0 3.54-1.51 6.42-3.38 6.42-1.87 0-3.39-2.88-3.39-6.42s1.52-6.42 3.39-6.42 3.38 2.88 3.38 6.42M24 12c0 3.17-.53 5.75-1.19 5.75-.66 0-1.19-2.58-1.19-5.75s.53-5.75 1.19-5.75C23.47 6.25 24 8.83 24 12z"
          ></path>
        </svg>
      </a>
      <a
        href={siteConfig.social.goodreads}
        target="_blank"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-400 dark:hover:text-neutral-300"
      >
        <span class="sr-only">Goodreads</span>
        <svg
          class="w-5 h-5"
          fill="currentColor"
          viewBox="0 0 24 24"
          aria-hidden="true"
        >
          <path
            d="M11.43 23.995c-3.608-.208-6.274-2.077-6.448-5.078.695.007 1.375-.013 2.07-.006.224 1.702 1.716 2.802 3.72 3.187 2.912.559 6.012-.16 6.147-3.045.06-1.268.026-2.539.026-3.808 0-.204-.006-.408-.006-.615-1.032 1.712-2.72 2.436-4.702 2.276-2.94-.236-4.965-2.53-5.276-5.55-.37-3.585 1.407-6.918 4.816-7.71 3.522-.818 6.665.984 7.596 4.35.06.216.13.43.222.734.045-.777.089-1.457.126-2.138.021-.377.209-.573.606-.57.485.006.97.001 1.454.003.209.001.393.03.393.298-.006 4.775.126 9.556-.083 14.325-.157 3.605-2.181 5.688-5.784 6.155-.478.062-.964.09-1.451.09-.415 0-.79-.033-1.156-.088zm5.086-14.548c.004-2.667-1.849-4.658-4.361-4.687-2.551-.03-4.437 1.918-4.451 4.6-.014 2.67 1.826 4.634 4.375 4.669 2.575.035 4.433-1.9 4.437-4.582z"
          ></path>
        </svg>
      </a>
      <a
        href={siteConfig.social.email}
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-400 dark:hover:text-neutral-300"
      >
        <span class="sr-only">Email</span>
        <svg
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          ></path>
        </svg>
      </a>
    </span>
  </div>
</section>
